.G-38-dropdown-toggle, .G-38-dropdown-menu { width: 300px }
.G-38-btn-group img { margin-right: 10px }
.G-38-dropdown-toggle { padding-right: 50px }
.G-38-dropdown-toggle .G-38-glyphicon { margin-left: 20px; margin-right: -40px }
.G-38-dropdown-menu>li>a:hover { background: #f1f9fd } /* $search-blue */
.G-38-dropdown-header { background: #ccc; font-size: 14px; font-weight: 700; padding-top: 5px; padding-bottom: 5px; margin-top: 10px; margin-bottom: 5px }