.home-header__wrapper {
  background: url('/img/mscs-header.jpg');
  background-size: cover;
  background-position: center;
  height:95vh;
}
.home-header__text-container {

  text-align: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.51);

  & h1 {
    font-size: 3.4375rem;
    color: white;
    padding-top: 35vh;
    font-weight: 600;
    text-shadow: 0 3px 17px rgba(0,0,0,.6);
  }

}
.home-header--subheading {
  font-size: 1.75rem;
  font-weight: 200;
  color: white;
  text-shadow: 0 3px 17px rgba(0,0,0,.6);
}
.btns__container {

}
.team-trial-btn {
  margin-right:1rem;
  background-color: $gold;
  color: white;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
}
.free-trial-btn {
  margin-left: 1rem;
  background-color: $aqua;
  color: white;
  cursor: pointer;
  &:hover {
    transform: scale(1.03);
  }
}
.info-section__inner {
  text-align: center;
  max-width: 45rem;
  margin: auto;

  & h1 {
    font-size:2rem;
    margin: 2.5rem 0;
  }
  & p {
    font-size: .9rem;
    color: $text-color-lighter;
  }
}