/* Color Schemes */
/* Previous color scheme */
$aqua: #488A99;
$gold: #DBAE58;
$charcoal: #FBE9E7;
$gray: #B4B4B4;
$text-color: #333;
$text-color-lighter: #777;

/* Background Colors */
/* Light grey for learning paths */
$learningpathgray: #eeeeee;

/* End previous color scheme */

/* These are the next colors we are going to try */
$royalblue: #083e9a;
$lightpink: #e7bcfd;
$purple1: #0f1438;
$purple2: #8184bc;
$purple3: #abb7d1;
$purple-background1: #dfe1eb;
$purple-background2: #e7e9ef;
$purple-background3: #f4f6f8;

/* another color remake */
$darkblue: #0B3862;
$ltbluebg: #f2f6f8;


* {
  font-family: 'Lato';
}
h1 {
  color: $text-color;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');
@import '../node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css';
@import 'user_pages.scss';
@import 'paths.scss';
@import 'homepage.scss';
@import 'statistical-learning.scss';
@import 'viewblog.scss';
@import '../src/components/homev2.scss';
@import '../src/components/learning_pathsv2.scss';
@import '../src/components/blogs/StatisticalLearningv3.scss';
@import 'changePassword.scss';
@import 'blogs.scss';
@import '../libs/prism.css';