/* Color Schemes */
$aqua: #488A99;
$gold: #DBAE58;
$charcoal: #FBE9E7;
$gray: #B4B4B4;
$text-color: #333;
$text-color-lighter: #777;

/* Background Colors */
/* Light grey for learning paths */
$learningpathgray: #eeeeee;

* {
  font-family: 'Roboto';
}

h1 {
  color: $text-color;
}


@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'navbar.scss';
@import 'user_pages.scss';
@import 'paths.scss';
@import 'homepage.scss';