a {
  color: $text-color;
}
.nav-link:hover {
  cursor: pointer;
}
.nav-link {
  padding: .8rem 1rem;
  font-size: 1.1rem;
}
.nav {
  min-height: 5vh;
}
.g-dropdown {
  transform: scale(0);
  transform-origin: top;
  position: absolute;
  transition: .25s ease all;
  z-index: 50;
  background: white;
  border-radius: 0px 0px 5px 5px;
}
.dropdown {
  position: relative;
}
.g-dropdown.show {
  display: inline-block;
  transform: scale(1);
}