.select_your_path__header {
  margin: 3.125rem;
}
.card-img-top {
  width: 100%;
}
.path-helper {
  color: $gold;
  font-size: 2rem;
  transform: translateY(-.2rem);
  cursor: pointer;
}
.card-text {
  line-height: 1.2rem;
}
.card-path {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
    will-change: transform;
    position: relative;
    z-index: 100;
    display: block;
    cursor: pointer;
}
.card-path:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.sl__header {
  padding: 4.5rem 0;
  background-color: $purple2;
  color: white;
  background-image: linear-gradient(to bottom right,$purple1,$purple3);
  opacity: .6; 
}
.sl__body {
  background-color: #F4F6F8;
}
.card-block--margin {
  margin-bottom: 1.5rem;
  box-shadow: 2px 4px 10px #888888;
  border-radius: 10px;
}
.card-block--margin:first-child {
  margin-top: 1.5rem;
}
.path-text {
  color: $text-color-lighter;
  font-weight: 300;
  font-size: 1.3rem;
}
.path-title a {
  color: $text-color;
  font-size: 2rem;
  font-weight: 700;
  &:hover {
    text-decoration: none;
  }
}
.path-card {

}
.sl__header--heading {
  font-size: 4rem;
  line-height: 4rem;
  color: white;
  text-shadow: 1px 1px 5px #333;
  font-weight: 700;
}
.sl__header--subheading {
  text-shadow: 1px 1px 5px #333;
  font-size: 1.2rem;
  font-weight: 100;
}
.btn-teal {
  background-color: $aqua;
  color: white;
}
.btn-teal:hover {
  color: white !important;
}
a.btn-teal {
  color: white !important;
}
.path-date {
  color: $text-color-lighter;
  font-size: .9rem;
}


// View Blog CSS
.viewblog__background {
  background-color: $purple-background3;
}
.viewblog__header {
  background-color: $purple-background2;
  & h1 {
    text-align: center;
    padding: 5rem 0;
    color: $purple1;
    font-size: 4rem;
  }
}
.viewblog__content p {
  font-family: "Lora";
  font-size: 1.1rem;
}







