.select_your_path__header {
  margin: 3.125rem;
}
.card-img-top {
  width: 100%;
}
.path-helper {
  color: $gold;
  font-size: 2rem;
  transform: translateY(-.2rem);
  cursor: pointer;
}
.card-text {
  line-height: 1.2rem;
}
.card-path {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
    will-change: transform;
    position: relative;
    z-index: 100;
    display: block;
    cursor: pointer;
}
.card-path:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.sl__header {
  padding: 4.5rem 0;
  background: url('/img/tealoverlay.png');
  color: white;
}
.sl__body {
  background-color: $learningpathgray;
}
.card-block--margin {
  margin-bottom: 1.5rem;
}
.card-block--margin:first-child {
  margin-top: 1.5rem;
}
.path-text {
  color: $text-color-lighter;
}
.path-title {
  color: $text-color;
  font-size: 2rem;
}
.path-card {
  box-shadow: 2px 4px 10px #888888;
}
.sl__header--heading {
  font-size: 5rem;
}
.sl__header--subheading {
  text-shadow: 1px 1px 5px #333;
  font-size: 1.2rem;
}
.btn-teal {
  background-color: $aqua;
  color: white;
}
.btn-teal:hover {
  color: white !important;
}
a.btn-teal {
  color: white !important;
}