.statistical-learning__header--container {
  border-bottom: .05rem solid #979797;
}
.statistical-learning {
  &__header {
    background-color: white;
  }

  &__card-img-top {
    max-height: 10rem;
    object-fit: cover;
  }

  &__post-title {
    color: #333;
    text-decoration: none;
  }
  // &__body {
  //   background-color: #F2F6F8;
  //   &--inner {
  //     padding-top: 4rem;
  //   }
  // }
  // &__header {
  //   &--inner {
  //     width: 58rem;
  //     margin: auto;
  //   }
  //   &--icon {
  //     display: inline-block;
  //   }
  //   &--text {
  //     display: inline-block;
  //     width: 39rem;
  //     padding-bottom: 2rem;
  //     transform: translatey(1.2rem);
  //     padding-left: 3rem;
  //   }
  //   &--header {
  //     font-size: 4rem;
  //     font-weight: 700;
  //   }
  //   &--subheading {
  //     font-size: 1.5rem;
  //     line-height: 1.7rem;
  //   }
  // }

  // &__card {
  //   &--container {
  //     width: 40rem;
  //     border: 1px solid #333;
  //     border-radius: 5px;
  //     padding: 1.5rem;
  //     margin: 2rem auto;
  //     background-color: white;
  //   }
  //   &--container:first-child {
  //     margin-top: 0;
  //   }
  //   &--text h1 {
  //     font-weight: 700;
  //   }
  //   &--text p {
  //     font-weight: 300;
  //     font-size: 1.2rem;
  //     line-height: 1.4rem;
  //   }
  //   &--author {
  //     line-height: 1.2rem;
  //     margin-bottom: 0;
  //     font-weight: 400;
  //     font-size: 1rem;
  //   }
  //   &--date {
  //     line-height: 1.2rem;
  //     margin-bottom: 0;
  //     font-weight: 300;
  //   }
  // }

}