.statistical-learning__header--container {
  border-bottom: .05rem solid #979797;
}
.statistical-learning {
  &__body {
    background-color: #F2F6F8;
  }
  &__header {
    &--inner {
      width: 58rem;
      margin: auto;
    }
    &--icon {
      display: inline-block;
    }
    &--text {
      display: inline-block;
      width: 39rem;
      padding-bottom: 2rem;
      transform: translatey(-1.2rem);
      padding-left: 3rem;
    }
    &--header {
      font-size: 4rem;
      font-weight: 700;
    }
    &--subheading {
      font-size: 1.5rem;
      line-height: 1.7rem;
    }
  }
}