.statistical-learning__header--container {
  border-bottom: .05rem solid #979797;
}
.statistical-learning {
  &__header {
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__card-img-top {
    max-height: 10rem;
    object-fit: cover;
  }

  &__post-title {
    color: #333;
    text-decoration: none;
  }
}