.signin__wrapper {
  position: relative;
}
.signin__inner {
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}
.newblog__header {
  font-size: 2.8rem;
}
.dashboard {
  &__sidebar {
    padding: 1rem .2rem 1rem .2rem;
  }
}