.signin__wrapper {
  position: relative;
}
.signin__inner {
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}
.newblog__header {
  font-size: 2.8rem;
}
.dashboard {
  &__sidebar {
    padding: 1rem .2rem 1rem .2rem;
  }
  &__card {
    width: 15rem;
    display: inline-block;
    margin-bottom: 2rem;
  }
  &__card--top {
    height:10rem;
  }
  &__images--container {
    height: 20rem;
  }
}